$primary-c: #ec0023;
$alt-red-c1: #c3182c;
$alt-red-c2: #5e1e1e;
$alt-blue-c1: #1c71d8;
$alt-blue-c2: #5890b6;
$alt-blue-c3: #5581af;
$alt-yellow-c1: #f2cc21;
$bg-c: #060606;
$bg-c2: #131313;
$text-c1: #ffffff;
$text-alt-c2: #a7a7a7;
$text-alt-c3: #464c4e;
